athenareader:
  output:
    # options are table, markdown, csv, html
    render: csv
    # page size is the number of lines per page, default 1024
    pagesize: 1024
    # options are StyleDefault, StyleBold, StyleColoredBright, StyleColoredDark,
    # StyleColoredBlackOnBlueWhite, StyleColoredBlackOnCyanWhite, StyleColoredBlackOnGreenWhite
    # StyleColoredBlackOnMagentaWhite, StyleColoredBlackOnYellowWhite, StyleColoredBlackOnRedWhite
    # StyleColoredBlueWhiteOnBlack, StyleColoredCyanWhiteOnBlack, StyleColoredGreenWhiteOnBlack
    # StyleColoredMagentaWhiteOnBlack, StyleColoredRedWhiteOnBlack, StyleColoredYellowWhiteOnBlack
    # StyleDouble, StyleLight, StyleRounded
    style: StyleColoredYellowWhiteOnBlack
    rowonly: false
    moneywise: false

  input:
    bucket: "s3://athena-query-result-bucket/"
    region: "us-east-1"
    database: sampledb
    admin: false
